{% extends 'base.html' %}
{%load static%}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<style>
.form-group{
  width: 40%;
}
</style>
<div class="row fixed-top" style="top: 7rem;margin-left: 14rem;">
<div class="col-md-10">
  <div style="height: 400px; width:1100px; overflow-y: scroll;padding-left: 10%;">
  <h1> Add Expense</h1>
  <form method="POST" action="{%url 'save_expense'%}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
      <label for="date" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="date" name="date">
      </div>
    </div>
    <!-- <div class="form-group row">
      <label for="expense_account"class="col-sm-2 col-form-label">Expense Account</label>
      <div class="col-sm-10">
      <select id="expense_account" name="expense_account" class="form-control select2" style="width: 100%;">
        <option value="">-- Select Expense Account --</option>
        <option value="1">Expense Account 1</option>
        <option value="2">Expense Account 2</option>
        <option value="3">Expense Account 3</option>
      </select>
    </div></div>
   -->
   <div class="form-group row">
    <label for="expense_account" class="col-sm-2 col-form-label">Expense Account</label>
    <div class="col-sm-10">
      <select id="expense_account" name="expense_account" class="form-control">
        <option value="">-- Select Expense Account --</option>
        <option value="1">Expense Account 1</option>
        <option value="2">Expense Account 2</option>
        <option value="3">Expense Account 3</option>
      </select>
    </div>
  </div>
    <div class="form-group row">
      <label for="hsn_code" class="col-sm-2 col-form-label">HSN Code</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="hsn_code" name="hsn_code">
      </div>
    </div>
    <div class="form-group row">
      <label for="notes" class="col-sm-2 col-form-label">Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="amount" class="col-sm-2 col-form-label">Amount</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="amount" name="amount">
      </div>
    </div>
    <div class="form-group row">
      <label for="paid" class="col-sm-2 col-form-label">Paid Through</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="paid" name="paid">
      </div>
    </div>
    <div class="form-group row">
      <label for="vendor" class="col-sm-2 col-form-label">Vendor</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="vendor" name="vendor">
      </div>
    </div>
    <div class="form-group row">
      <label for="reporting_tags" class="col-sm-2 col-form-label">Reporting tags</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="reporting_tags" name="reporting_tags">
      </div>
    </div>
    <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  </div>
</form> 
</section>
<script>
$(document).ready(function() {
  $('#expense_account').select2({
    placeholder: "",
    allowClear: true,
    dropdownAutoWidth: true,
    dropdownParent: $("#expense_account").parent(),
    dropdownPosition: "above"
  });
});
</script>

{%endblock%}

